<div class="container">
  <div class="header mt-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <%= link_to "List", cocktails_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Cocktails", new_cocktail_path, class: "nav-link active" %>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <h2 class="mt-4">Cockttail list (<%= @cocktails.count %>)</h2>
        <div class="row mt-3">
          <% @cocktails.each do |cocktail| %>
          <div class="col-sm-4">
            <div class="card mt-3">
              <%#if cocktail.photo.present?%>
              <%= cl_image_tag cocktail.photo, height: 200, width: 250, crop: :fill, class: "card-img-top" %>
              <%#end%>
              <div class="card-body">
              <h5 class="card-title"><%= link_to cocktail.name, cocktail_path(cocktail)%></h5>
              </div>
              <div class="d-flex justify-content-around py-2 border-top">
                <%= link_to raw('<i class="fas fa-trash"></i>'), cocktail_path(cocktail), method: :delete, data: { confirm: "are you deleting my lovely #{cocktail.name} cocktail?" }%>
                <%= link_to raw('<i class="fas fa-cocktail"></i>'), cocktail_path(cocktail)%>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
